* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    width: 100%;
    max-width: 100%;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.box , .box-nested {
    background-color: rgb(33, 132, 212);
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.p-xy {
    padding: 6px 10px;
}

.mt-15 {
    margin-top: 15px;
}

.box-nested {
    background-color: lime;
}